<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintage Legacy's Account</title>
    <link rel="stylesheet" href="account.css">
    <link rel="icon" href="images/VintageLogo.jpg">
</head>
<div class="profile-container">
    <div class="profile-image">
        <img src="images/VintageLogo.jpg" alt="Profile Image">
    </div>
    <h1>Vintage Legacy</h1>
    
    <div class="user-details">
        <p><strong>Email:</strong> email@VintageLegacy.com</p>
        <p><strong>Username:</strong> VintageLegacy"</p>
        <p><strong>Posts:</strong> 150</p>
        <p><strong>Followers:</strong> 500</p>
        <p><strong>Following:</strong> 300</p>
    </div>

    <button class="edit-profile-button">Edit Profile</button>
</div>
</body>
</html>